<html>
	<head>
		<title>Welcome to $safeprojectname$</title>
	</head>
<body style="font-family:calibri">
	<p>Dear @Model.Name,</p>
	<p>Your trial account has been created.</p>
	<p>To start using the system go to <a href="http://applciation.com" alt="app url">http://applciation.com</a></p>
	<p></p>
	<p>To verify your email address please go to:</p>
	<p><a href="@Model.VerificationUri" alt="app verification url">@Model.VerificationUri</a></p>
	<p>If you have trouble clicking on that link, please copy and paste it into your browsers address bar.</p>
	[html]
</body>
</html>
