<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="DevDbConnection" connectionString="Initial Catalog=DevDb;Data Source=DbServer;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DbConnection" connectionString="Initial Catalog=Db;Data Source=DbServer;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <!-- Active Database Connections -->    
    <add key="CommonServices.DbActiveConnection" value="DevDbConnection" />

    <!-- Option -->
    <add key="CommonServices.Option" value="An option from app.config" />

	<!-- mailzor configuration -->
    <!-- You have to install smtp4dev (http://smtp4dev.codeplex.com/) for testing purposes using "localhost". -->
	<add key="CommonServices.MailSmtpServerIp" value="localhost" />
	<add key="CommonServices.MailSmtpServerPort" value="25" />
	<add key="CommonServices.MailTemplatesDirectory" value=".\MailTemplates" />
	<add key="CommonServices.MailDefaultFromAddress" value="noreply@mymail.net" />

		<!-- CheckData-Plugin -->
    <add key="CheckData.Test" value="CheckData-Parameter from app.config" />

	</appSettings>

</configuration>
