<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="FileLogger" xsi:type="File" fileName="Log.$ext_safeprojectname$.txt" 
			layout="${longdate}|${level:uppercase=true}|${logger}|${machinename}|${processid}|${windows-identity}|${message}"/>
		<target name="FileLoggerErr" xsi:type="File" fileName="Log.$ext_safeprojectname$.Errors.txt" 
			layout="${longdate}|${level:uppercase=true}|${logger}|${machinename}|${processid}|${windows-identity}|${message}${onexception:inner=|${stacktrace}|${newline}${exception:format=ToString,method:maxInnerExceptionLevel=5}}" />
		<target name="MailLoggerErr" xsi:type="Mail" html="true" subject="Exception in $ext_safeprojectname$" 
			to="myMail@me.de" from="mailservice@me.de" smtpServer="127.0.0.1" smtpPort="25" 
			body="${longdate}|${level:uppercase=true}|${logger}|${machinename}|${processid}|${windows-identity}|${message}${onexception:inner=|${stacktrace}|${newline}${exception:format=ToString,method:maxInnerExceptionLevel=5}}" />
		<target name="DbLogger" type="Database">
			<connectionString>Server=DbServer;Database=LogDb;integrated security=sspi;</connectionString>
			<commandText>exec dbo.InsertLog_usp @Computer, @IPAddress, @App, @Level, @MessageID, @Message</commandText>
			<parameter name="@Computer" layout="${machinename}"/>
			<parameter name="@IPAddress" layout="${gdc:item=ipAddress}"/>
			<parameter name="@App" layout="${gdc:item=program}"/>
			<parameter name="@Level" layout="${gdc:item=level}"/>
			<parameter name="@MessageID" layout="${gdc:item=messageId}"/>
			<parameter name="@Message" layout="${message}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="FileLogger" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="FileLoggerErr" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="MailLoggerErr" />
		<logger name="DbLogger" minlevel="Info" maxlevel="Info" writeTo="DbLogger" />
	</rules>

</nlog>

