  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="info"
        internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
	<target name="FileLogger" xsi:type="File" fileName="${basedir}/${shortdate}.$safeprojectname$.log" layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${logger}|${machinename}|${processid}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${message}" />
    <target name="FileLoggerTrc" xsi:type="File" fileName="${basedir}/${shortdate}.$safeprojectname$.Trace.log" layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${logger}|${machinename}|${processid}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${message}" />
	<target name="FileLoggerErr" xsi:type="File" fileName="${basedir}/${shortdate}.$safeprojectname$.Errors.log" layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${logger}|${machinename}|${processid}|${message} ${onexception:inner=|${exception:format=ToString,method:maxInnerExceptionLevel=5}|${newline}${stacktrace}}" />
	<target name="MailLoggerErr" xsi:type="Mail" html="true" subject="Exception in $ext_safeprojectname$ WebAPI" to="admin@xyz.com" from="mailservice@xyz.com" smtpServer="127.0.0.1" smtpPort="25" body="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${logger}|${machinename}|${processid}|${message} ${onexception:inner=|${exception:format=ToString,method:maxInnerExceptionLevel=5}|${newline}${stacktrace}}" />
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!--Skip verbose NodeService logs-->
    <logger name="Microsoft.AspNetCore.NodeServices" maxLevel="Error" final="true" />
    <logger name="*" maxlevel="Trace" writeTo="FileLoggerTrc" />
    <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="FileLogger" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="FileLoggerErr" />
	<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="MailLoggerErr" />
	</rules>
</nlog>
